/*Stylesheet for Emails
By Jerfyn Rosario*/
/*Used for Index page testing - no need for this in full game*/

.startPage {
    background-color: cornsilk;
    
    padding: 0px 10px;
    text-align: center;
    
}

/*Used for Index page testing - no need for this in full game*/
.startPage button {
    margin-left:450px;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    color:black;
    padding: 10px 20px;
    display:block;
    width: 25%;
    cursor: pointer;   
}

/*Where the email from, to, subject, and body is located*/
.main{
    background-color: cornsilk;
    padding: 5px 10px;
    width: 50%;
    margin: auto;
}

/*Hover over highlights for ahref elements*/
a:hover {
    background-color: yellow;
    cursor: pointer;
}

/*Hover over highlights for pre elements*/
pre:hover{
    background-color: yellow;
    cursor: pointer;
}

.main p:hover{
    background-color: yellow;
    cursor: pointer;
}

/*Hover over highlights for elements with the link class*/
.links:hover{
    background-color: yellow;
    cursor: pointer;
}

/*To make the false links class look like hyperlinks (Prevents the purple outline and easier to open prompts this way)*/
.links {
    position: relative;
    
    text-decoration-color: blue;
    color: blue;
}

/*These are floating texts on the hyperlinks that will stay hidden until it is hovered over*/
.links .hoverLink {
    visibility: hidden;
    width: 200px;
    background-color: floralwhite;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left:-200px;
    overflow: hidden;
    
}

/*Shows the floating url of where links will lead*/
.links:hover .hoverLink {
    visibility: visible;
}

.promptButton{
    margin: auto;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    color:black;
    padding: 10px 20px;
    display:block;
    width: 25%;
    cursor: pointer;
}

.successContent button {
    margin: auto;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    color:black;
    padding: 10px 20px;
    display:block;
    width: 25%;
    cursor: pointer;
    
}

.failureContent button {
    margin: auto;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    color:black;
    padding: 10px 20px;
    display:block;
    width: 25%;
    cursor: pointer;
    
}

.atConfirmContent button {
    margin: auto;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    color:black;
    padding: 10px 20px;
    display:block;
    width: 25%;
    cursor: pointer;
}

/*Details for the "attachments" in the email*/
.emailAttach button {
    background-color: lightgray;
    border: 2px black;
    font-size: 13px;
    font-weight: 500;
    color:black;
    padding: 10px 20px;
    display:block;
    cursor: pointer;
    
}

/*Button that appears inside the email*/
.innerButton {
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    border: 2px solid lightblue;
    color:black;
    padding: 10px 20px;
    width: 25%;
    cursor: pointer;
    border-radius: 13px;
    font-weight: 500;
    display: block; 
    
}

/*Submit button class styling*/
.SubmitButton button{
    margin: auto;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    color:black;
    padding: 10px 20px;
    display:block;
    width: 50%;
    cursor: pointer;
}

/*Nothing button class styling*/
.NothingButton button {
    margin:auto;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    color:black;
    padding: 10px 20px;
    display:block;
    width: 25%;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 500;
    border-radius: 6px;
}

.NothingButton button:hover {
    background-color: darkorange;
    color: white;
}


/*Highlight*/

.highlight {
    background-color: yellow;
}

.removehighlight {
    background-color: none;
}

/*Prompt styling for the Attachment Confirmed prompt*/
.atConfirm {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/*Content for the prompt*/
.atConfirmContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/*Prompt styling for the Button Confirmed prompt*/
.buConfirm {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/*Content for the prompt*/
.buConfirmContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/*Success Prompt Styling*/
.successPrompt {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.successFrom {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

}

.successTo {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.successSubject {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.successDear {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.successBody {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
    text-align: center;
}

.successLink {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.successAttach {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.successNothing {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.successExtraButton {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.successContent {
    
  background-color: palegreen;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/*Failure prompt styling*/

.failurePrompt {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureFrom {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureTo {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureSubject {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureDear {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureBody {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureLink {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureAttach {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureNothing {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureExtraButton {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.failureContent {
  background-color: lightcoral;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/*Close Prompt*/

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Feature test*/
.RTWButton button {
    margin-left: 200px;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    color:black;
    padding: 10px 20px;
    display:block;
    width: 25%;
    cursor: pointer;
}
